<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${post.title}">글 상세 페이지</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/css/viewPost.css">
</head>
<body>
<div class="container my-5">
    <div class="card">
        <div class="card-header text-center">
            <h1 th:text="${post.title}">글 제목</h1>
            <div class="action-links">
                <a th:href="@{/}">이동</a>
                <a th:href="@{/posts/{postId}/edit(postId=${post.id})}">수정</a>
                <form th:action="@{/posts/{postId}/delete(postId=${post.id})}" method="post" style="display:inline;">
                    <input type="hidden" name="_method" value="delete">
                    <button type="submit">삭제</button>
                </form>
            </div>
        </div>
        <div class="card-body">
            <div class="mb-3 text-muted">
                <p class="mb-1">
                    <strong><span th:text="${post.user.userName}">작성자</span></strong>
                    <span th:text="${#temporals.format(post.getCreatedAt, 'yyyy/MM/dd HH:mm')}">등록일</span>
                </p>

            </div>
            <div class="content">
                <p th:text="${post.content}">글 내용</p>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
